services:
  - type: web
    name: minio-server
    runtime: docker
    dockerContext: .
    dockerfilePath: ./Dockerfile.minio
    autoDeploy: false
    disk:
      name: data
      mountPath: /data
    envVars:
      - key: MINIO_ROOT_USER
        value: admin
      - key: MINIO_ROOT_PASSWORD
        sync: false
      - key: MINIO_CONSOLE_PORT
        value: "9001"
      - key: MINIO_BUCKET
        value: nudgytai

  - type: web
    name: minio-console
    runtime: docker
    dockerContext: .
    dockerfilePath: ./Dockerfile.console
    autoDeploy: false
    envVars:
      - key: MINIO_HOST
        fromService:
          name: minio-server
          type: web
          property: host
      - key: MINIO_CONSOLE_PORT
        value: "9001"
