services:
  - type: web
    name: minio-server
    runtime: docker
    dockerContext: .
    dockerfilePath: ./minio/Dockerfile
    autoDeploy: false
    disk:
      name: data
      mountPath: /data
    envVars:
      - key: MINIO_ROOT_USER
        value: admin
      - key: MINIO_ROOT_PASSWORD
        value: change-me-super-secret
      - key: MINIO_BUCKET
        value: nudgytai
      - key: MINIO_CONSOLE_PORT
        value: "9090"

  - type: web
    name: minio-console
    runtime: docker
    dockerContext: .
    dockerfilePath: ./console/Dockerfile
    autoDeploy: false
    envVars:
      - key: PORT
        value: "10000"
      - key: MINIO_HOST
        fromService:
          name: minio-server
          type: web
          property: host
      - key: MINIO_CONSOLE_PORT
        value: "9090"
