services:
  # -------------------------
  # MinIO S3 Server (Public)
  # -------------------------
  - type: web
    name: minio-server
    env: docker
    rootDir: server
    plan: starter
    healthCheckPath: /minio/health/live
    disk:
      name: minio-data
      mountPath: /data
      sizeGB: 10
    envVars:
      - key: MINIO_ROOT_USER
        generateValue: true
      - key: MINIO_ROOT_PASSWORD
        generateValue: true

      # Set to your public Render URLs
      - key: MINIO_SERVER_URL
        value: "https://minio-server-ns38.onrender.com"
      - key: MINIO_BROWSER_REDIRECT_URL
        value: "https://minio-console-xs8o.onrender.com"

  # -------------------------
  # MinIO Console (Public via Nginx proxy)
  # -------------------------
  - type: web
    name: minio-console
    env: docker
    rootDir: console
    plan: starter
    envVars:
      - key: MINIO_HOST
        fromService:
          name: minio-server
          type: web
          property: host
      - key: MINIO_CONSOLE_PORT
        value: "9090"
